<table>
  <thead>
    <tr>
      <th>Wish Name</th>
      <th>Cost</th>
      <th>Priority</th>
      <th>Link</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(wishId, wish) in wishlist.wishes">
      <td>{{wish.name}}</td>
      <td>{{wish.cost}}</td>
      <td>{{wish.priority}}</td>
      <td>{{wish.link}}</td>
      <td>
        <a class="btn btn-primary" href="/#/{{wishId}}"></a>
        <a class="btn btn-primary" href="/#/{{wishId}}/edit"></a>
       <button ng-click="wish.removeWish(wishId)"></button>
      </td>
    </tr>
  </tbody>
</table>
